<template name="userReservations">
  {{#if selectedReservation}}
    <h4>Selected Reservation</h4>
    {{#with selectedReservation}}
      <p>{{dateFormat date}}&mdash;{{getName userId}}&mdash;{{guestName}}</p>
    {{/with}}
  {{/if}}

  <h4>Your Reservations:</h4>
  <ul>
    {{#each listRes}}
      <li>{{dateFormat date}}&mdash;{{guestName}} <span id={{_id}} class="glyphicon glyphicon-remove cancel"></span></li>
    {{/each}}
  </ul>

  {{#if isAdmin}}
    &nbsp;
    <h4>Admin</h4>
    <ul>
      {{#each reservation}}
        <li>{{dateFormat date}}&mdash;{{getName userId}}&mdash;{{guestName}} <span id="adminCancel" class="glyphicon glyphicon-remove"></span></li>
      {{/each}}
    </ul>
  {{/if}}
</template>
